<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @recipe.instruction %>
</p>

<p>
  <strong>Working time:</strong>
  <%= @recipe.working_time %>
</p>

<p>
  <strong>Number of servings:</strong>
  <%= @recipe.number_of_servings %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

<!-- test4 -->

